.navbar-nav>li>span {
    margin-left: 10px;
    margin-top: 15px;
}
.navbar-nav>li>span>a {
    position:relative;
    right:10px;
}

.navbar-nav>li>form {
    margin-left: 10px;
    margin-top: 12px;
}

.content_body {
    padding-left:30;
}

.product_div {
    margin-bottom:30px;
    padding-bottom:20px;
}

.products_tile_div_home
{
    margin-left:35px;
}
.products_tile_div_home>h2 {
    position:relative;
    right:5px;
    margin-bottom:20px;
}

input.submit_cart_btn {
    float:left; 
    display:inline-block;
    margin-left: 5px;
}
.btn {
    margin-top: 5px;
}


input.submit_wishlist_btn {
    float:left;
    display:inline-block;
    margin-left: 10px;
}


.price {
    font-weight: bold;
    margin-left:170px;
}

.glyphicon>a {
    font-family:sans-serif;

}

.pagination {
    position:relative;
    left:33%;

    margin-top: 10px;
}


.cont_shopping {
    font-size: 1em;
    margin-left:30px;
    }

.subtotal_checkout {
    margin-left:90px;
    margin-right: 10%;
    float:right;
}

.subtotal_checkout>p>span {
    font-weight:bold;
}

.vendor_listing_name {
    text-decoration:underline;
}

.btn_add_listing {
    margin-left: 10px;
    margin-bottom:10px;
}
.remove_product_wish {
    float:left;
}

.btc {
    font: 4em;
}

